logic-app/frosto-send-email.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Send_an_email_(V2)": {
                        "inputs": {
                            "body": {
                                "Body": "@triggerBody()?['body']",
                                "Importance": "Low",
                                "Subject": "@triggerBody()?['subject']",
                                "To": "@{items('For_each')}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['outlook_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail",
                            "retryPolicy": {
                                "count": 1,
                                "interval": "PT1M",
                                "type": "fixed"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@triggerBody()?['to']",
                "runAfter": {},
                "type": "Foreach"
            },
            "Response_Failure": {
                "inputs": {
                    "body": "@outputs('Send_an_email_(V2)')",
                    "statusCode": 500
                },
                "kind": "Http",
                "runAfter": {
                    "For_each": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                    ]
                },
                "type": "Response"
            },
            "Response_Success": {
                "inputs": {
                    "body": "@outputs('Send_an_email_(V2)')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "body": {
                                "type": "string"
                            },
                            "subject": {
                                "type": "string"
                            },
                            "to": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "outlook_1": {
                    "connectionId": "/subscriptions/b3d4442c-33dd-4a10-ba57-1d2b9d00a4ce/resourceGroups/frosto/providers/Microsoft.Web/connections/outlook-1",
                    "connectionName": "outlook-1",
                    "id": "/subscriptions/b3d4442c-33dd-4a10-ba57-1d2b9d00a4ce/providers/Microsoft.Web/locations/westeurope/managedApis/outlook"
                }
            }
        }
    }
}
